/* .myBody{
  display: flex;
  height: 100%;
} */

.canvas-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.canvas-box {
  padding-bottom: 1%;
  width: 1%;
  border: 0.02px solid rgba(211,211,211,5);
  box-sizing: border-box;
}

.color_picker_container{
  margin: 10px;
}

.colors_container{
  display: flex;
  justify-content: center;
  margin: 20px;
  flex-wrap: wrap;
}

.palette_area{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.palette {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 0.5px solid black;
  margin: 2px;
  /* background-color: yellow; */
}

.brush_color_container{
  display: flex;
  width: 150px;
  flex-direction: row;
  align-items: center;
}

#brush_color{
  display: flex;
  justify-self: start;
}
/*
.orange {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: orange;
}

.red {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: red;
}

.green {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: green;
}

.blue {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: blue;
}

.purple {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: purple;
}

.gray {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: gray;
}

.black {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: black;
}

.white {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: white;
} */
